<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/all-products.css" />
    <link rel="stylesheet" href="/css/prod-slider.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <title>All Products</title>
  </head>
  <body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main>
      <div class="main-header">
        <img
          src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?cs=srgb&dl=pexels-pixabay-235922.jpg&fm=jpg"
          alt=""
          class="main-img"
        />
        <div class="main-banner">
          <p class="banner-text">Las mejores zapatillas solo en Shoocity.</p>
          <p class="banner-text">No corra, vuela.</p>
        </div>
      </div>
      <%- include('../partials/product') %>
    </main>
    
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <script src="/js/hamburger.js"></script>
  </body>
</html>