<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/register-form.css">
    <link rel="stylesheet" href="/css/createProducts.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Crear productos</title>
</head>
<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main class="main-register">
        <div class="register-wrapper">
            <h1 class="form-title">PUBLICA TU ANUNCIO</h1>
            <h2 class="form-subtitle ">Incluye algunos detalles</h2>

            <form action="/products/create" method="POST" enctype="multipart/form-data"> 
                <div class="register-form-left">
                    <div class="form-group brand">
                        <h3 class="register-label">Marca</h3>
                        <select class="country-combobox create-country" name="brand" id="brand">
                            <option value="adidas">Adidas</option>
                            <option value="asics">Asics</option>
                            <option value="brooks">Brooks</option>
                            <option value="mizuno">Mizuno</option>
                            <option value="nike">Nike</option>
                            <option value="newBalance">New Balance</option>
                            <option value="puma">Puma</option>
                            <option value="reebok">Reebok</option>
                            <option value="saucony">Saucony</option>
                            <option value="vans">Vans</option>
                        </select>
                    </div>
                    <div class="form-group first-last-name">
                        <label for="name">Modelo</label>
                        <input type="text" name="model" id="model" required>
                    </div>
                    <div class="form-group user">
                        <label for="description">Descripción</label>
                        <textarea class="description-txt" name="description" id="description" required> </textarea>
                    </div>
                    <div class="form-group user">
                        <label for="price">Precio</label>
                        <input type="number" name="price" id="price" required>
                    </div>
                    <div class="form-group discount">
                        <label for="discount">Descuento</label>
                        <input type="number" name="discount" id="discount" required>
                    </div>
                    <h3 class="register-label">Genero</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="male" checked>
                            <label for="gender">Hombre</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="female">
                            <label for="gender">Mujer</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="other">
                            <label for="gender">Otro</label>
                        </div>
                    </div>
                </div>
                <div class="register-form-right">
                    <div class="form-group category">
                        <h3 class="register-label">Categoria</h3>
                        <select class="country-combobox create-cbox" name="category" id="category">
                            <option value="running">Running</option>
                            <option value="urban">Urban</option>
                            <option value="trackAndField">Track & Field</option>
                        </select>
                    </div>
                    <div class="form-group color">
                        <h3 class="register-label">Color</h3>
                        <select class="country-combobox create-cbox" name="color" id="color">
                            <option value="#ff0000">Rojo</option>
                            <option value="#00ff00">Verde</option>
                            <option value="#0000ff">Azul</option>
                        </select>
                    </div>
                    <div class="form-group talle">
                        <h3 class="register-label">Talles</h3>
                        <select class="country-combobox create-cbox" name="size" id="color">
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </div>
                    <div class="form-group stock">
                        <label for="stock">Cantidad a vender</label>
                        <input type="number" name="stock" id="stock" value='1' required>
                    </div>
                    <div class="upload-file-container">
                        <label for="product-image">Imagen del producto</label>
                        <input type="file" id="product-image" name="product-image">
                        <br>
                        <span>Este campo es requerido</span>
                    </div>
                </div>
                <div class="send-container">
                    <!-- <div class="error-message-container">
                        <label class="error-msg">Mensaje de error!</label>
                    </div> -->
                    <button type="submit" class="submit-btn">Crear producto</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Scripts -->
    <script src="/js/hamburger.js"></script>
</body>
</html>