<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home-styles.css">
    <link rel="stylesheet" href="/css/prod-slider.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/editProducts.css">
</head>

<body>
  <div class="editProducts-page">
    <!-- Inicio Nav-bar -->
    <%- include('../partials/nav-bar') %>
    <!-- Fin Nav-bar -->

    <!-- Inicio Main (página) -->
	  <main>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<div class="square" style="--i:0;"></div>
			<div class="square" style="--i:1;"></div>
			<div class="square" style="--i:2;"></div>
			<div class="square" style="--i:3;"></div>
			<div class="square" style="--i:4;"></div>
			<div class="container-editProducts">
			 	<div class="Editform">
				  <h2>Editar producto</h2>
		 		  <!-- Inicio cuadro de inputs + imagen de producto-->
          <div class="EditProductform-container">
		 		  <!-- Inicio cuadro de inputs-->
            <div class="EditProductform-children">
              <form>
                <div class="inputBox">
                  <label>Nombre del Producto</label> 
                  <input type="text"  placeholder="Nombre del producto" name="nombreDelProducto" required/>
                </div>

                <div class="inputBox">
                  <label>Descripción</label> 
                  <input type="text"  placeholder="Descripción" name="descripcion" required/>
                </div> 
            
                <div class="inputBox">
                  <label>Foto del producto</label> 
                  <input type="file" class="file-select" placeholder="Imagen" name="imagen" required/>
                </div> 

                <div class="inputBox">
                  <label>Categoría</label> 
                  <select placeholder="Categoría" name="categoria" class="inputBox-dropList" required>
                    <option disabled hidden selected>Selecciona una opción</option>
                    <option class="select" value="value1">Zapatillas</option>
                    <option class="select" value="value2">Zapatos</option>
                    <option class="select" value="value3">Remeras Deportivas</option>
                  </select>
                </div> 

                <div class="inputBox">
                  <label>Color</label> 
                  <select placeholder="Color" name="color" class="inputBox-dropList" required>
                    <option disabled hidden selected>Selecciona una opción</option>
                    <option class="select" value="value1">Rojo</option>
                    <option class="select" value="value2">Negro</option>
                    <option class="select" value="value3">Blanco</option>
                  </select>
                </div> 

                <div class="inputBox precio">
                  <label>$ARS</label> <input type="number" placeholder="Precio" name="precio" required/>
                </div> 
			        </form>
            </div>
		 		    <!-- Fin cuadro de inputs-->
            
		 		    <!-- Inicio imagen de producto-->
            <div class="EditProductform-children">
              <img class="imgDetails" src="../../public/images/logos/zapatilla-ejemplo.jpg" alt="imagen" height="100%" width="100%" />
            </div>
		 		    <!-- Fin imagen de producto-->
          </div>
		 		  <!-- Fin cuadro de inputs + imagen de producto-->
          
		 		    <!-- Inicio botón editar-->
           <div class="inputBox">
            <input type="submit" value="Editar"/>
          </div>
		 		    <!-- Fin botón editar-->
            
        </div>
			</div>
		</div>
  </main>
  <!-- Fin Main (página) -->
      
  <!-- Inicio Footer -->
  <%- include('../partials/footer') %>
  <script src="/js/panels.js"></script>
  <script src="/js/hamburger.js"></script>
  <script src="/js/nav-bar-tabs.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Fin Footer -->

	<script type="text/javascript">
		function toggle() {
			document.querySelector("#eye-icon").name === "eye" ? document.querySelector("#eye-icon").name = "eye-off" : document.querySelector("#eye-icon").name = "eye"
			document.querySelector("#password").type === "password" ? document.querySelector("#password").type = "text" : document.querySelector("#password").type = "password"
		}

/* Inicio format number 1000000 to 1,234,567*/
  // const f = new Intl.NumberFormat("es-AR", {
  //   style: "currency";
  //   currency: "ARS";
  //   minimunFractionDigits: 2;
  // })
/* Fin format number 1000000 to 1,234,567*/
	</script>

</body>

</html>