<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/product-details.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Product Details</title>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
</head>

<body>
    <header></header>

    <main>
        <!-- <img src="https://media.gq.com.mx/photos/62224432a3cf727998b596b9/master/w_1600%2Cc_limit/nike-air-force-1-edicion-40-aniversario-negros-fecha-de-lanzamiento-donde-comprarlos-lateral.jpeg" alt=""> -->
        <img class="imgDetails"
            src="https://media.revistagq.com/photos/62860b8e1f8d21740a7cbdea/master/w_1600%2Cc_limit/louis-vuitton-nike-air-force-1-virgil-abloh.jpeg"
            alt="">
        <div class="detailRightContainer">
            <div class="DetailInfo">
                <p class="detailShoeName">Nike air force 1</p>
                <p class="detailShoePrice">$15000</p>
            </div>

            <select class="sizeButtonDetail" size="1">
                <option>size</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
              </select>

            <button class="buyButtonDetail">
                Buy
            </button>
        </div>
    </main>

    <div class="listTittleContainer">
        <p class="listTittle">Productos que quizas te interesen</p>
    </div>
    <div class="cardListContainer">
        <div class="main-item">
            <img class="item-image"
                src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
                alt="">
            <p class="item-name">Zapatila xxxxxx</p>
            <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
            <img class="item-image"
                src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
                alt="">
            <p class="item-name">Zapatila xxxxxx</p>
            <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
            <img class="item-image"
                src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
                alt="">
            <p class="item-name">Zapatila xxxxxx</p>
            <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
            <img class="item-image"
                src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
                alt="">
            <p class="item-name">Zapatila xxxxxx</p>
            <p class="item-price">$XXXXXXX</p>
        </div>

    </div>


</body>

</html>