<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Shopping cart</title>
</head>
<body>
    <header>

    </header>
    <div class="cart-main">

        <div class="cart-left">
            <div class="cart-header">
                <h1 class="header-tittle">TU CARRITO</h1>
                <p class="header-text">TOTAL (x productos) $X,XXXX</p>
                <p class="header-text">Los productos seleccionados de Shocity no estan reservados.</p>
            </div>
            <a href="/" class="cart-banner">
                <p class="banner-text">CONTINUA COMPRANDO</p>
                <p class="banner-item">></p>
            </a>
            <div class="cart-item-list">
                <div class="item">
                    <img scr="" class="item-image">
                    <div class="item-details">
                        <h3 class="item-tittle">Zapatilla X para correr</h3>
                        <p class="item-price">$XXXXXX</p>
                        <p class="item-stock">Stock: 10</p>
                        <select class="item-quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <p class="item-button">Eliminar producto</p>
                    </div>
                </div>
                <div class="item">
                    <img scr="" class="item-image">
                    <div class="item-details">
                        <h3 class="item-tittle">Zapatilla X para correr</h3>
                        <p class="item-price">$XXXXXX</p>
                        <p class="item-stock">Stock: 10</p>
                        <select class="item-quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <p class="item-button">Eliminar producto</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-right">
            <div class="order-summery">
                <h2 class="order-tittle">RESUMEN DEL PEDIDO</h2>
                <div class="order-details">
                    <p class="order-text">X PRODUCTO</p>
                    <p class="order-text">$ XXXXXX</p>
                </div>
                <div class="order-details">
                    <p class="order-text">ENTREGA</p>
                    <p class="order-text">GRATIS</p>
                </div>
                <div class="order-details">
                    <p class="order-text-bold">TOTAL</p>
                    <p class="order-text-bold">$ XXXXXX</p>
                </div>
            </div>
            <button class="cart-button">
                Comprar
            </button>
        </div>
    </div>
    
    <div class="carousel-items">

    </div>
    <footer>

    </footer>
</body>
</html>