<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <link rel="stylesheet" href="/css/normalize.css">
        <!-- GOOGLE FONTS -->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <!-- Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Shopping cart</title>
</head>
<body>
    <header class="header-container">
        <div class="header-bounds">
          <div class="nav-search">
            <a href="/">
              <!-- <div class="shoocity-logo">
                          <img src="/images/logos/logo-simple.png" alt="">
                      </div> -->
              <div class="shoocity-logo">
                <h1 class="logo-title">Shoocity</h1>
                <h2 class="logo-slogan">Inspiration Works</h2>
              </div>
            </a>
            <form class="search-bar" action="#" method="POST">
              <input
                class="search-input"
                type="search"
                name="search"
                id="search"
                placeholder="Buscar productos..."
              />
              <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="menu" id="ham-menu">
              <div class="hamburger-btn-menu">
                <div class="ham-inner"></div>
              </div>
            </div>
            <aside class="aside-menu">
              <div class="aside-bounds">
                <div class="profile-div">
                  <img
                    src="https://i.pinimg.com/564x/4c/95/d4/4c95d42d0c5737bfcde088b81436af9b.jpg"
                    alt=""
                    class="profile-pic"
                  />
                </div>
                <ul class="nav-menu-list">
                  <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="">User</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <a href="">Mis compras</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-heart"></i>
                    <a href="">Favoritos</a>
                  </li>
                </ul>
                <ul class="nav-menu-list">
                  <li>
                    <i class="fa-solid fa-shop"></i>
                    <a href="">Tienda</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-shoe-prints"></i>
                    <a href="">Marcas</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-tag"></i>
                    <a href="">Ofertas</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-user-astronaut"></i>
                    <a href="">Nosotros</a>
                  </li>
                </ul>
                <p>Cerrar sesión</p>
              </div>
            </aside>
          </div>
          <nav class="nav-menu">
            <div class="dropdown">
              <div class="language" tabindex="1">
                <!-- El tab index me permite el 'focus' sobre el div -->
                <p>Language</p>
                <i class="fa-solid fa-angle-down"></i>
              </div>
              <div class="dropdown-menu">
                <ul class="languages-list">
                  <li>
                    <img src="/images/flags/es.svg" alt="" srcset="" />
                    <a href="">Español</a>
                  </li>
                  <li>
                    <img src="/images/flags/gb.svg" alt="" srcset="" />
                    <a href="">Inglés</a>
                  </li>
                </ul>
              </div>
            </div>
            <ul class="nav-menu-list">
              <li><a href="">Categorias</a></li>
              <li><a href="">Marcas</a></li>
              <li><a href="">Tienda</a></li>
              <li><a href="">Nosotros</a></li>
            </ul>
            <ul class="nav-menu-list">
              <li>
                <!-- <i class="fa-solid fa-user"></i> -->
                <a href="">User</a>
              </li>
              <li>
                <a href="">Mis compras</a>
              </li>
              <li>
                <a href="">Favoritos</a>
              </li>
              <div class="bell-trollie-container">
                <div class="dropdown">
                  <div class="notification" tabindex="1">
                    <!-- El tab index me permite el 'focus' sobre el div -->
                    <i class="fa-solid fa-bell"></i>
                  </div>
                  <div class="dropdown-menu notification-menu">
                    <div class="notification-header">
                      <p>Notificaciones</p>
                    </div>
                    <ul class="notification-list">
                      <li>
                        <img src="/images/flags/es.svg" alt="" srcset="" />
                        <p>
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit. Voluptatibus, error?
                        </p>
                      </li>
                      <li>
                        <img src="/images/flags/gb.svg" alt="" srcset="" />
                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Provident, maxime?
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <i class="fa-solid fa-cart-shopping"></i>
              </div>
            </ul>
          </nav>
        </div>
      </header>
    <div class="cart-main">

        <div class="cart-left">
            <div class="cart-header">
                <h1 class="header-tittle">TU CARRITO</h1>
                <p class="header-text">TOTAL (x productos) $X,XXXX</p>
                <p class="header-text">Los productos seleccionados de Shocity no estan reservados.</p>
            </div>
            <a href="/" class="cart-banner">
                <p class="banner-text">CONTINUA COMPRANDO</p>
                <p class="banner-item">></p>
            </a>
            <div class="cart-item-list">
                <div class="item">
                    <img scr="" class="item-image">
                    <div class="item-details">
                        <h3 class="item-tittle">Zapatilla X para correr</h3>
                        <p class="item-price">$XXXXXX</p>
                        <p class="item-stock">Stock: 10</p>
                        <select class="item-quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <p class="item-button">Eliminar producto</p>
                    </div>
                </div>
                <div class="item">
                    <img scr="" class="item-image">
                    <div class="item-details">
                        <h3 class="item-tittle">Zapatilla X para correr</h3>
                        <p class="item-price">$XXXXXX</p>
                        <p class="item-stock">Stock: 10</p>
                        <select class="item-quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <p class="item-button">Eliminar producto</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-right">
            <div class="order-summery">
                <h2 class="order-tittle">RESUMEN DEL PEDIDO</h2>
                <div class="order-details">
                    <p class="order-text">X PRODUCTO</p>
                    <p class="order-text">$ XXXXXX</p>
                </div>
                <div class="order-details">
                    <p class="order-text">ENTREGA</p>
                    <p class="order-text">GRATIS</p>
                </div>
                <div class="order-details">
                    <p class="order-text-bold">TOTAL</p>
                    <p class="order-text-bold">$ XXXXXX</p>
                </div>
            </div>
            <button class="cart-button">
                Comprar
            </button>
        </div>
    </div>
    
    <div class="carousel-items">

    </div>
    <footer>
        <div class="footer-bounds">
          <div class="first-line">
            <p>Made with</p>
            <i class="fa-solid fa-heart"></i>
            <p>By</p>
          </div>
          <h3>CODE APPLES</h3>
        </div>
      </footer>
</body>
</html>