* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main-footer {
  padding: 40px;
  background-color: rgb(242, 232, 31);
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.main-footer-button {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  align-self: center;
  font-size: 20px;
  padding: 15px;
}

.main-footer-button:hover {
  background-color: rgb(31, 31, 31);
}

.main-img {
  max-width: 100%;
}

.main-banner {
  background-color: rgb(5, 142, 217);
  padding: 15px;
}

.banner-text {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
  color: aliceblue;
}

.main-header {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 750px) {


  .main-footer-text {
    font-size: 20px;
    margin-right: 20px;
  }

  .main-footer-button {
    font-size: 15px;
  }

}

@media only screen and (max-width: 560px) {
  .main-footer {
    flex-direction: column;
  }

  .main-banner {
    font-size: 15px;
  }

  .main-footer {
    padding: 20px;
  }

  .main-footer-text {
    font-size: 17px;
  }

  .main-footer-button {
    padding: 10px;
  }
}
