.form-createproducts{
    display: block;
    
}
.product-img{
    width: 100%;
    display: block;
}

textarea{
    box-shadow: 0 0 0 30px #181818 inset !important;
    -webkit-text-fill-color: white !important;
    margin: 25px auto 0;
    font-size: 2rem;
    letter-spacing: .2rem;
}