* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial;
}

body{
	overflow: hidden;
}

main {
	display: flex;
   flex: 1;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom,#000000,#dff1ff);
}

main .color{
	position: absolute;
	filter: blur(150px);
}

main .color:nth-child(1){
top: -350px;
width: 600px;
height: 600px;
background: #ff359b;
}

main .color:nth-child(2){
	top: 150px;
   left: -125px;
   width: 120px;
   height: 120px;
   z-index: 2;
}

main .color:nth-child(3){
	bottom: 50px;
	right: 100px;
	width: 300px;
	height: 300px;
	background: #00d2ff;
}
.editProducts-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.box{
	position: relative;
}

.box .square{
	position: absolute;
	backdrop-filter:blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background: rgba(255,255,255,0.1);
	border-radius: 10px; 
	animation:animate 10s linear infinite;
	animation-delay:calc(-1s * var(--i));
}

@keyframes animate
{
   0%,100%
   {
	   transform: translateY(-40px);
   }
   50%
   {
	   transform: translateY(40px);
   }
}

.box .square:nth-child(1){
   top: -50px;
   right: -95px;
   width: 100px;
   height: 100px;
}

.box .square:nth-child(2){
   top: 150px;
   left: -115px;
   width: 120px;
   height: 120px;
   z-index: 2;
}

.box .square:nth-child(3){
   bottom: 50px;
   right: -78px;
   width: 80px;
   height: 80px;
   z-index: 2;
}


.box .square:nth-child(4){
   bottom: -80px;
   left: 100px;
   width: 50px;
   height: 50px;
}

.box .square:nth-child(5){
   top: -80px;
   left: 100px;
   width: 60px;
   height: 60px;
}
/* contenedor formulario padre - para configurar ancho y alto*/
.container-editProducts{
	position: relative;
	width: 760px;
	min-height: 320px;
	background: rgba(255,255,255,0.1);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter:blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

/*div contenedor de formulario+foto (padre)*/
.EditProductform-container {
	display: flex;
	flex: 1;
	flex-direction: row;
}

/*div contenedor de formulario+foto (hijos)*/
.EditProductform-children {
	display: flex;
	flex: 1;
	justify-content: center;
}

.EditProductform-children form{
	width: 100%;
}

/*foto de producto*/
.imgDetails {
	border-radius: 16px;
	-webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.2);
}

/*formulario completo*/
.Editform {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
	text-align: center;
}

.Editform h2{
	position: relative;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.Editform h2::before{
	content: '';
	position: absolute;
	left: 13%;
	bottom: -10px;
	width: 74%;
	height: 4px;
	background: #fff;
}

.Editform .inputBox
{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	position: relative;
}

.Editform .inputBox input, .Editform .inputBox select
{
	width: 86%;
	background: rgba(255,255,255,0.2);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 30px;
	border: 1px solid rgba(255,255,255,0.5);
 	border-right: 1px solid rgba(255,255,255,0.2);
 	border-bottom: 1px solid rgba(255,255,255,0.2);
 	font-size: 16px;
 	letter-spacing: 1px;
 	color: #fff;
 	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


.Editform .inputBox input::placeholder, .Editform .inputBox select::placeholder {
	color: #fff;
}

.Editform .inputBox input[type="submit"]{
	background: #fff;
	color: #666;
	max-width: 200px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 600px;

}

.Editform .inputBox input[type="submit"]:hover{
	background: #eb80bf;
	color: #fff;

}

/*clase para select*/
.select {
	background-color:rgb(170, 170, 170);
}

.select::-ms-expand {
	margin: 0 5px 0 5px;
	border-radius: 0;
}

/*Inicio label*/
label {
    cursor: default;
	padding: 0 5px;
    margin-left: 10px;
    display: block;
    font-size: var(--small);
    position: absolute;
    top: -7px;
	left: 25px;
	background-color: rgba(166, 168, 181,0.8);
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	letter-spacing: 1px;
	z-index: 100000;
}
/*Fin label*/

/*adjuntar imagen*/
.file-select {
	position: relative;
	display: inline-block;
  }
  
  .file-select::before {
	background-color: #fff;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	content: 'Seleccionar'; /* texto por defecto */
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  
  .file-select input[type="file"] {
	opacity: 0;
	width: 200px;
	height: 32px;
	display: inline-block;
  }
  
  #src-file1::before {
	content: 'Seleccionar Archivo 1';
  }
  
  #src-file2::before {
	content: 'Seleccionar Archivo 2';
  }

  .file-select input[type="submit"]{
		background: #fff;
		color: #666;
		max-width: 200px;
		cursor: pointer;
		margin-bottom: 20px;
		font-weight: 600px;
	
	}
	
	.Editform .inputBox input[type="submit"]:hover{
		background: #eb80bf;
		color: #fff;
	
	}

	.file-select:hover::before {
		background-color: #eb80bf;
		color: white;
	}

	/* Inicio eliminar decoradores de número en inputbox de Precio*/
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
		}
	input[type=number] { -moz-appearance:textfield; }
	/* Fin eliminar decoradores de número en inputbox de Precio*/
