* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

.purchases-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #181818;
    text-align: center;
    margin: 0;
}

.purchase-number {

}

.purchase-number p {
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    color: #787878;
    margin: 5px auto;
}

.purchase-number p span {
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    color: black;
}

.item-status {
    color: black !important;
}

.item-status span {
    color: green !important;
}

.item {
    padding: 10px;
}

.item-body {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 15px;
}

.picture {
    height: 100px;
    width: 100% !important;
    max-width: 280px;
    padding: 15px;
    text-align: center;
}

.picture a > img {
    max-width: 250px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.brand-logo-wrapper {
    height: 35px;
    max-width: 80px;
    background-color: white;
}

.brand-logo-wrapper > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.details {
    width: 50%;
    min-width: 250px;
}

.item-category {
    font-size: var(--small);
    text-align: center;
    font-style: italic;
    color: #a3a3a3;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    color: var(--blue);
}

.item-name {
    text-align: left;
    margin: -5px auto 10px 0px;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
}

.item-brief-description {
    font-weight: 300;
    font-size: 0.9rem;
}

.item-price {
    color: #353535;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.action-btns {
    text-align: center;
}

.purchase-btn {
    width: 160px;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #45bdff;
    transition: all .3s ease;
    cursor: pointer;
}

.purchase-btn:hover {
    background-color: var(--blue);
}

.item-button {
    margin: 0;
    color: white;
    font-weight: 600;
}

.main-container {
    margin-top: 80px;
    width: 100vw;
}

.header-menu {
    width: 95vw;
    max-width: 1000px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.header-menu > p {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    margin: 0 auto;
    color: #545454;
    margin: 0;
}

.main-container .search-bar {
    display: flex;
    width: 300px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container .search-bar .search-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.main-container .search-bar .search-input {
    background: #181818;
}

.main-container .search-bar .search-container .search-btn {
    width: 30px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid #787878;
    background-color: #181818;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--normal);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.main-container .search-bar .search-container .search-btn svg {
    color: white;
}

.main-container .search-bar .search-container .search-input:focus .search-input {
    /* outline: none; */
    border: 1px solid var(--white);
}

.articles-container {
    margin: 10px auto;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    width: 95vw;
    max-width: 1000px;
}


/* Mobile and Tablet */
@media (min-width:361px) {
    .main-container {
        margin-top: 150px;
    }
}

/* Desktop */
@media (min-width:769px) {
    .item-body {
        flex-direction: row;
        gap: 60px;
    }
    .action-btns {
        align-self: flex-end;
    }
    .header-menu {
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        gap: 25px;
        margin: auto;
    }
    .header-menu > p {
        font-size: 0.8rem;
        color: #bcbcbc;
        border-left: 1px solid #d2d2d2;
        padding-left: 10px;
    }
}
