* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("https://library.sportingnews.com/2022-04/Messi%20PSG%20Training.png");
}

.header-container {
    width: 100vw;
    height: 100px;
    text-align: center;
    position: fixed;
    background: #ffffffb8;
    backdrop-filter: blur(10px);
}

.header-container .header-bounds {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.header-bounds .nav-search {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.header-bounds .nav-search .shoocity-logo {
    height: 50px;
}

.nav-search .shoocity-logo > img {
    height: 100%;
}

.header-bounds .nav-menu{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: var(--black);
    font-weight: 500;
}

.header-bounds .nav-search .search-bar {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search .search-input {
    width: 500px;
    height: 40px;
    padding: 0 5px 0 15px;
    background: #f1f1f1;
    border: none;
    box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 71%);
    border-radius: 2px;
    display: block;
    font-size: var(--normal);
    color: #333;
}

.nav-search .search-input:focus {
    outline: none;
}

.nav-search .search-btn {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    margin-left: -25px;
    font-size: var(--normal);
}

.nav-menu .language {
    display: flex;
    align-items: center;
}

.nav-menu .language > p {
    margin-left: 5px;
}

.nav-menu .nav-menu-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.nav-menu .nav-menu-list li {
    margin: 0 10px 0 10px;
}

.nav-menu .nav-menu-list li a {
    padding: 5px;
    text-decoration: none;
    color: var(--black);
}

.nav-menu .bell-trollie-container {
    margin-left: 20px;
}
