* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-container {
    max-width: 1400px;
    margin-top: 50px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
}

.main-container .image-container {
    height: 50%;
    width: 100% !important;
    max-width: 600px;
    padding: 15px;
}

.main-container .image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    filter: drop-shadow(10px 10px 9px var(--onyx));
}

.info-container {
    margin: 15px 0;
}

.info-container .description {
    
}

.info-container .description .category {
    margin: 0px auto 10px;
    font-size: var(--small);
    color: var(--blue);
    letter-spacing: 1.5px;
    font-style: oblique;
    text-transform: uppercase;
}

.main-container .left-side {
    width: 100%;
    max-width: 700px;
}

.main-container .left-side .title {
    margin: 15px 0;
    text-align: left;
}

.main-container .left-side .title .brand {
    margin: 0;
    text-transform: capitalize;
    font-style: oblique;
    font-size: var(--subtitle);
}

.main-container .left-side .title .model {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-style: oblique;
}

.main-container .left-side .title .prod-owner {
    margin: 5px 0;
    font-size: var(--small);
    color: var(--onyx);
    font-style: oblique;
}

.main-container .left-side .title .prod-owner span {
    color: var(--blue);
    font-weight: 500;
    text-transform: capitalize;
}

.info-container .description .price {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.info-container .description .price > h3 {
    margin: 5px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.info-container .description .price > p {
    margin: 5px 0;
    font-size: var(--small);
    font-weight: 600;
    color: green;
}

.prod-description {
    margin: 0px auto 15px;
    font-size: .9rem;
    text-align: left;
}

.prod-description summary {
    color: var(--blue);
    cursor: pointer;
}

.prod-description summary > p {
    font-size: var(--normal);
}

.info-container .selection {
    text-align: left;
}

.info-container .selection > h3 {
    margin: 15px 0 5px;
    font-size: var(--normal);
    font-weight: 600;
}

.info-container .selection .color-picker {
    display: flex;
    gap: 5px;
}

.info-container .selection .color-picker .color {
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.info-container .selection .size-dropdown {
    width: 80px;
    text-align: center;
    font-size: var(--normal);
    font-weight: 700;
    border-radius: 5px;
    padding: 3px;
}

.info-container .selection .stock {
    margin: 30px auto 5px;
    font-size: .8rem;
    font-weight: 300;
    text-align: center;
    opacity: .7;
}

.info-container .buy {
    width: 180px;
    height: 50px;
    background-color: var(--blue);
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: .8;
    border: none;
    transition: all .3s ease;
    margin: 10px auto 0;
}

.info-container .buy:hover {
    opacity: 1;
}

.info-container .buy > p {
    margin: 0 auto;
    font-size: var(--normal);
    font-weight: 600;
}

.prod-info {
    text-align: left;
    margin-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

.prod-info .action-btn {
    background-color: transparent;
    border: none;
    padding: 2px;
    transition: all .2s ease;
    font-size: 30px;
}

.prod-info .fav:hover {
    color: var(--pink);
    transform: scale(1.1);
}

.prod-info .active-fav {
    color: var(--pink);
    transform: scale(1.1);
}

.prod-info .information .brand {
    font-size: 1.2rem;
    margin: 0 auto 0px;
    text-transform: capitalize;
    font-style: italic;
}

.prod-info .information .model {
    font-size: 1.5rem;
    margin: 0 auto 5px;
}

.prod-info .information .prod-owner {
    margin: 5px 0;
    font-size: var(--small);
    color: var(--onyx);
    font-style: oblique;
}

.prod-info .prod-owner span {
    color: var(--blue);
    font-weight: 500;
    text-transform: capitalize;
}

.brand-logo-wrapper {
    height: 50px;
    padding: 5px;
    background-color: white;
    margin-left: 20px;
    text-align: left;
}

.colors-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin: 5px auto 15px 0;
}

.colors-wrapper .color {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    border: 1px solid #8d8d8d;
}

.gender-title {
    margin: 15px 0 5px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
}

.gender-title span {
    font-weight: 500;
    font-style: italic;
    margin-left: 5px;
    color: var(--blue);
}

.brand-logo-wrapper > img {
	max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}



/* Mobile and Tablet */
@media (min-width:361px) {
    .main-container {
        padding: 15px 40px;
    }
}

/* Desktop */
@media (min-width:769px) {
    .main-container {
        margin: auto;
        max-width: 1400px;
        margin-top: 100px;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    .brand-logo-wrapper {
        height: 80px;
        margin-bottom: 50px;
    }
    .info-container {
        margin: 15px 0;
        width: 50%;
        max-width: 400px;
        padding: 30px;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }
    .prod-description {
        text-align: left;
    }
    .info-container .description .price > h3 {
        font-size: var(--subtitle);
    }
    .info-container .description .price > p {
        font-size: var(--normal);
    }
    
}

@media (min-width:1200px) {

}