/* PRODUCTS CARROUSEL */
.products-carrousel {
    width: 100%;
    height: auto;
    margin: 100px auto;
    padding-bottom: 25px;
    /* background-color: blueviolet; */
}

.products-carrousel .carrousel-container {
    text-align: center;
    width: 95%;
    /* height: 320px; */
    height: auto;
    margin: 15px auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
}

.carrousel-container .controls {
    font-size: var(--title);
    display: none;
    transition: all .3s ease;
}

.carrousel-container .controls:hover {
    color: var(--blue);
}

.carrousel-container .content-container {
    width: 90%;
    height: 100%;
    /* background-color: aliceblue; */
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.content-container .product {
    min-width: 90%;
    max-width: 300px;
    height: 100%;
    padding: 10px 0;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #1D1F27;
    color: var(--white);
    transition: all 0.5s ease;
}

.content-container .product .prod-header {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
    /* font-size: 35px; */
    font-size: 25px;
    color: white;
    align-items: center;
}

.product .prod-header > a {
    color: white;
}

.product .prod-header > a > ion-icon {
    padding: 0 5px;
    transition: all .3s ease;
}

.product .prod-header > a > ion-icon:hover {
    padding: 0 5px;
    color: var(--pink);
}

.product .prod-picture {
    /* height: auto; */
    height: 150px;
    width: 100% !important;
    padding: 15px;
}

.product .prod-picture > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: transform .5s;
}

.product .prod-picture > img:hover {
    transform: scale(1.1);
}

.product .prod-description {
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.brand-wrapper {
    height: 40px;
    max-width: 70px;
    padding: 5px;
    position: absolute;
    right: 0px;
    margin-top: -35px;
    background-color: transparent;
}

.brand-wrapper > img {
    /* filter: drop-shadow(0px 0px 2px #fff); */
	max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.product .prod-description .colors-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin: 5px auto 15px 0;
}

.product .prod-description .prod-colors {
    text-align: left;
    margin: 0;
    font-size: var(--small);
    color: var(--white);
}

.product .prod-description .colors-wrapper .color {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
}

.product .prod-description .prod-category {
    font-size: var(--small);
    font-style: italic;
    color: #a3a3a3;
}

.product .prod-description .prod-title {
    text-align: left;
    margin: 15px auto 5px;
    font-size: var(--normal);
    font-weight: 700;
}

.product .prod-description .prod-model {
    text-align: left;
    margin: 5px auto 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

.product .prod-description .prod-price-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.prod-description .prod-price-desc p {
    margin: 0;
}

.prod-description .prod-price-desc p:nth-child(1) {
    font-size: 1.25rem;
    font-weight: 600;
}

.prod-description .prod-price-desc p:nth-child(2) {
    margin-left: 20px;
    font-size: 1.25rem;
    color: #3fff3f;
    font-weight: 600;
}

.product a .prod-button {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-size: var(--normal);
    font-weight: 600;
    color: white;
    background-color: #0000008a;
    text-transform: uppercase;
    transition: background-color .5s ease;
}

.product a .prod-button:hover {
    background-color: var(--blue);
}

/* Mobile and Tablet */
@media (min-width:361px) {
    /* PRODUCTS SLIDER */
    .content-container .product {
        min-width: 90%;
    }
    .product .prod-picture {
        /* height: auto; */
        height: 200px;
    }
}

/* Desktop */
@media (min-width:769px) {
    /* PRODUCTS SLIDER */
    .content-container .product {
        min-width: 300px;
    }
    .products-carrousel .carrousel-container {
        justify-content: space-between;
    }
    
    .carrousel-container .controls {
        display: block;
    }
}
