* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #242424;
}

.profile-title {
    margin: 0 auto;
    font-size: 0.6rem;
    font-weight: 800;
    color: white;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.75));

}

.profile-name {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    letter-spacing: -1px;
    line-height: 20px;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.75));

}

.profile-subtitle {
    margin: 10px auto;
    font-size: 0.7rem;
    font-weight: 200;
    color: white;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.75));

}


.main-container {
    margin-top: 50px;
}

.main-container  .images-wrapper {
    width: 100%;
}

.main-container .images-wrapper .banner {
    width: 100%;
    height: 120px;
    position: absolute;
    background-color: #181818;
}

.main-container .images-wrapper .banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5) blur(2px);
}

.main-container .images-wrapper .overlay {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 120px;
    padding: 15px 10px 10px 10px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.main-container .images-wrapper .overlay .avatar {
    width: 80px;
    height: 80px;
}

.main-container .images-wrapper .overlay .avatar img {
    max-width: 80px;
    min-height: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--white);
    padding: 3px;
    object-fit: cover;
}

.main-container .images-wrapper .overlay .profile {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.main-container .data-container {
    background-color: #242424;
}


.edit-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    position: absolute;
    right: 15px;
    transition: all .3s ease;
}

.edit-wrapper svg {
    font-size: 16px;
    color: #fff;
}

.edit-wrapper:hover {
    background-color: #f44336;
    transform: scale(1.2);
}



/****************************/
.about {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 50px;
}

.about .btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.about .btn-container .tab-btn:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.about .btn-container .tab-btn:nth-last-child(1) {
    border-top-right-radius: 0.5rem;
}


.about .btn-container .tab-btn {
    color: #ababab;
    border: none;
    background-color: #242424;
    padding: 10px 0;
    font-size: 16px;
    transition: all 0.5s ease;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    font-weight: 500;
    border-bottom: 3px solid #242424;
}

.about .btn-container .tab-btn:hover {
    background-color: #292929;
    color: #49a6e9;
}

.about .about-content {
    width: 100%;
    height: 100%;
    background-color: #242424;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.about .about-content .content {
    display: none;
}

.about .about-content .content > h4 {
    margin: 5px auto 5px 0 !important;
    text-align: left;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.20rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #fff;
}

.about .about-content .content > p {
    margin: 0 auto 15px 0 !important;
    text-align: left;
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: #617d98;
}

.active {
    display: block !important;
    background-color: #242424 !important;
    border-bottom: 3px solid white !important;
}

.role {
    margin: 0px auto 0px 10px !important;
    /* color: #ff7a00; */
    color: var(--blue);
    font-size: .8rem;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
}








/********* MEDIA QUERIES *********/

/* Mobile and Tablet */
@media (min-width:361px) {


}

/* Desktop */
@media (min-width:769px) {
    .main-container {
        margin-top: 100px;
    }
    .about {
        margin: 100px auto 50px;
    }
    .about .about-content .content > h4 {
        font-size: 1.1rem;
    }
    .about .about-content .content > p {
        font-size: 1rem;
    }
    .about .btn-container .tab-btn {
        font-size: 1.1rem;
    }
    .edit-wrapper {
        width: 50px;
        height: 50px;
        margin-top: -120px;
    }
    .edit-wrapper svg {
        font-size: 20px;
    }
    .about .about-content {
        padding: 40px 20px;
    }

    .main-container .images-wrapper .banner {
        height: 220px;
    }
    .main-container .images-wrapper .overlay {
        height: 220px;
        padding: 25px 10px 10px 10px;
        gap: 50px;
    }

    .main-container .images-wrapper .overlay .avatar {
        width: 180px;
        height: 180px;
        min-width: 180px;
        min-height: 180px;
    }
    .main-container .images-wrapper .overlay .avatar img {
        min-width: 180px;
        max-width: 180px;
        height: 180px;
    }

    .profile-title {
        font-size: 0.8rem;
        margin-top: 15px;
    }
    .profile-name {
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 800;
        color: white;
        letter-spacing: -1px;
        line-height: 20px;
    }
    .profile-name {
        font-size: 3rem;
        line-height: inherit;
    }
    .profile-subtitle {
        font-size: 1rem;
    }
    .about .about-content .content .role {
        font-size: 1rem;
    }

}

@media (min-width:1200px) {
    .edit-wrapper {
        right: 15%;
    }
}