* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.section-title {
  text-align: center;
}

.header-container {
  top: 0;
}

.cart-main {
  width: 95%;
  max-width: 1200px;
  text-align: center;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-left {
  margin: auto;
  max-width: 600px;
}

.cart-right {
  margin-top: 100px;
}

.cart-header {
  margin-top: 20px;
}

.header-text {
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
}

.header-tittle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.cart-banner {
  margin: 15px 0;
  background-color: rgb(241, 254, 229);
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.cart-banner:hover {
  background-color: rgba(228, 250, 208, 0.882);
}

.banner-text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal);
  font-weight: bolder;
  color: black;
  align-self: center;
}

.banner-item {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  justify-self: center;
  align-self: center;
  margin-left: 25px;
  color: black;
}

.order-summery {
  padding: 15px;
  border: 1px solid #ccc;
}

.order-tittle {
  font-family: "Montserrat", sans-serif;
}

.order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.order-text-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.cart-button {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 100%;
  align-self: center;
  font-size: 20px;
  padding: 5px;
}

.cart-button:hover {
  background-color: grey;
}

.item .item-picture {
  width: 40%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.item .item-picture > img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  width: 100%;
  margin: 10px 0;
}

.item-button {
  margin: 15px 0 5px;
  font-family: "Montserrat", sans-serif;
  color: var(--red);
}

.item-button:hover {
  text-decoration: underline;
}

.item-quantity {
  width: 50px;
  height: 25px;
  margin: 0;
}

.item-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  align-items: flex-start;
  text-align: left;
}

.item-tittle {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 5px;
}

.item-price {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0;
}

.item-stock {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: darkslategray;
  margin: 5px 0 5px;

}

/* Mobile and Tablet */
@media (min-width:361px) {



}

/* Desktop */
@media (min-width:769px) {
  .cart-main {
    margin: 120px auto;
    flex-direction: row;
    gap: 15px;
  }
  .cart-left {
    margin: 0 auto 0 0;
    width: 60%;
    max-width: 600px;
  }
  .cart-right {
    width: 40%;
    max-width: 300px;
  }


}
