<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/all-products.css" />
    <link rel="stylesheet" href="/css/prod-slider.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/95aa681591.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONTS -->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <!-- Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>All Products</title>
  </head>
  <body>
    <header class="header-container">
      <div class="header-bounds">
          <div class="nav-search">
              <a href="/">
                  <!-- <div class="shoocity-logo">
                      <img src="/images/logos/logo-simple.png" alt="">
                  </div> -->
                  <div class="shoocity-logo">
                      <h1 class="logo-title">Shoocity</h1>
                      <h2 class="logo-slogan">Inspiration Works</h2>
                  </div>
              </a>
              <form class="search-bar" action="#" method="POST">
                  <input class="search-input" type="search" name="search" id="search" placeholder="Buscar productos...">
                  <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
              <div class="menu" id="ham-menu">
                  <div class="hamburger-btn-menu">
                      <div class="ham-inner"></div>
                  </div>
              </div>
              <aside class="aside-menu">
                  <div class="aside-bounds">
                      <div class="profile-div">
                          <img src="https://i.pinimg.com/564x/4c/95/d4/4c95d42d0c5737bfcde088b81436af9b.jpg" alt="" class="profile-pic">
                      </div>
                      <ul class="nav-menu-list">
                          <li>
                              <i class="fa-solid fa-user"></i>
                              <a href="">Cuenta</a>
                          </li>
                          <li>
                              <i class="fa-solid fa-bag-shopping"></i>
                              <a href="/shopping-cart">Mis compras</a>   
                          </li>
                          <li>
                              <i class="fa-solid fa-heart"></i>
                              <a href="">Favoritos</a>
                          </li>
                      </ul>
                      <ul class="nav-menu-list">
                          <li>
                              <i class="fa-solid fa-shop"></i>
                              <a href="/all-products">Tienda</a>
                          </li>
                          <li>
                              <i class="fa-solid fa-shoe-prints"></i>
                              <a href="">Marcas</a>
                          </li>
                          <li>
                              <i class="fa-solid fa-tag"></i>
                              <a href="">Ofertas</a>
                          </li>
                          <li>
                              <i class="fa-solid fa-user-astronaut"></i>
                              <a href="">Nosotros</a>
                          </li>
                      </ul>
                      <p>Cerrar sesión</p>
                  </div>
              </aside>
          </div>
          <nav class="nav-menu">
              <div class="dropdown">
                  <div class="language" tabindex="1"> <!-- El tab index me permite el 'focus' sobre el div -->
                      <p>Idioma</p>
                      <i class="fa-solid fa-angle-down"></i>
                  </div>
                  <div class="dropdown-menu">
                      <ul class="languages-list">
                          <li>
                              <img src="/images/flags/es.svg" alt="" srcset="">
                              <a href="">Español</a>
                          </li>
                          <li>
                              <img src="/images/flags/gb.svg" alt="" srcset="">
                              <a href="">Inglés</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <ul class="nav-menu-list">
                  <li><a href="/all-products">Tienda</a></li>
                  <li><a href="">Categorias</a></li>
                  <li><a href="">Marcas</a></li>
                  <li><a href="">Nosotros</a></li>
              </ul>
              <ul class="nav-menu-list">
                  <li>
                      <a href="/shopping-cart">Mis compras</a>   
                  </li>
                  <li>
                      <a href="">Favoritos</a>
                  </li>
                  <li class="dropdown">
                      <div class="user" tabindex="1"> <!-- El tab index me permite el 'focus' sobre el div -->
                          <p>Cuenta</p>
                          <i class="fa-solid fa-angle-down"></i>
                      </div>
                      <div class="dropdown-menu user-menu">
                          <div class="drop-menu-header">
                              <p>Mi cuenta</p>
                          </div>
                          <div class="profile-div">
                              <img src="https://i.pinimg.com/564x/4c/95/d4/4c95d42d0c5737bfcde088b81436af9b.jpg" alt="" class="profile-pic">
                              <p>Hola Messi!</p>
                          </div>
                          <ul class="user-list">
                              <li>
                                  <a href="/login-form">Iniciar Sesión</a>
                              </li>
                              <li>
                                  <a href="/register-form">Registrarme!</a>
                              </li>
                              <li>
                                  <a href="">Cerrar Sesion</a>
                              </li>
                          </ul>
                      </div>                        
                  </li>
                  <div class="bell-trollie-container">
                      <div class="dropdown">
                          <div class="notification" tabindex="1"> <!-- El tab index me permite el 'focus' sobre el div -->
                              <i class="fa-solid fa-bell"></i>
                          </div>
                          <div class="dropdown-menu notification-menu">
                              <div class="drop-menu-header">
                                  <p>Notificaciones</p>
                              </div>
                              <ul class="notification-list">
                                  <li>
                                      <img src="/images/flags/es.svg" alt="" srcset="">
                                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, error?</p>
                                  </li>
                                  <li>
                                      <img src="/images/flags/gb.svg" alt="" srcset="">
                                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, maxime?</p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <a href="/shopping-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </a>
                  </div>
              </ul>
          </nav>
      </div>
  </header>
    <main>
      <div class="main-header">
        <img
          src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?cs=srgb&dl=pexels-pixabay-235922.jpg&fm=jpg"
          alt=""
          class="main-img"
        />
        <div class="main-banner">
          <p class="banner-text">Las mejores zapatillas solo en Shoocity.</p>
          <p class="banner-text">No corra, vuela.</p>
        </div>
      </div>
      <div class="main-item-container">
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
        <div class="main-item">
          <img
            class="item-image"
            src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?cs=srgb&dl=pexels-ray-piedra-1464625.jpg&fm=jpg"
            alt=""
          />
          <p class="item-name">Zapatila xxxxxx</p>
          <p class="item-price">$XXXXXXX</p>
        </div>
      </div>
      <div class="main-footer">
        <p class="main-footer-text">INICIE SESIÓN Y CONSIGA DESCUENTOS</p>
        <a href="/register-form">
          <button class="main-footer-button">REGISTRATE GRATIS</button>
        </a>
      </div>
    </main>
    <footer>
      <div class="footer-bounds">
        <div class="first-line">
          <p>Made with</p>
          <i class="fa-solid fa-heart"></i>
          <p>By</p>
        </div>
        <h3>CODE APPLES</h3>
      </div>
    </footer>
  </body>
</html>
