<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
      <link rel="stylesheet" href="/css/nav-bar.css">
      <link rel="stylesheet" href="/css/footer.css">
      <link rel="stylesheet" href="/css/login-form.css">
      <link rel="stylesheet" href="/css/home-styles.css">
      <link rel="stylesheet" href="/css/prod-slider.css">
      <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <div class="login-page">
     <!-- Inicio Nav-bar -->
     <%- include('./partials/nav-bar') %>
     <!-- Fin Nav-bar -->

     <!-- Inicio Main (página) -->
	 <main>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<div class="square" style="--i:0;"></div>
			<div class="square" style="--i:1;"></div>
			<div class="square" style="--i:2;"></div>
			<div class="square" style="--i:3;"></div>
			<div class="square" style="--i:4;"></div>
			 <div class="container">
			 	<div class="form-login">
			 		<h2>Ingresar</h2>
			 		<form >
            <div class="inputBox">
              <input type="text"  placeholder="Usuario" name="usuario" required />
            </div>
            <div class="inputBox">
              <input maxlength="25" type="password" class="controls" name="contrasena" value="" placeholder="Contraseña" id="password" data-lpignore="true" required>
              <ion-icon onclick="toggle()" class="password-icon"	id ="eye-icon" name="eye-off" size="large" ></ion-icon>
            </div> 
          <br>
          <label>
            <input type="checkbox">
            <span></span>
            <small>Recuérdame</small>
          </label>
            <div class="inputBox">
			    <input type="submit" value="Enviar"/>
			</div>
			<p class="forget">
              <a href="recover">¿Olvidaste tu contraseña?</a>
            </p>
            <br>
            <p class="forget">
              <a href="register-form">Registrate en Shoocity?</a>
            </p>
         </form>
			 	</div>
			 </div>
		</div>
	</main>
    <!-- Fin Main (página) -->
      
        <!-- Inicio Footer -->
        <%- include('./partials/footer') %>

        <script src="/js/panels.js"></script>
        <script src="/js/hamburger.js"></script>
        <script src="/js/nav-bar-tabs.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- Fin Footer -->

	<script type="text/javascript">
		function toggle() {
			document.querySelector("#eye-icon").name === "eye" ? document.querySelector("#eye-icon").name = "eye-off" : document.querySelector("#eye-icon").name = "eye"
			document.querySelector("#password").type === "password" ? document.querySelector("#password").type = "text" : document.querySelector("#password").type = "password"
		}

	</script>


</body>
</html>