<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/prod-slider.css" />
</head>
<body>
    <main>
        <section>
            <img src="https://cdn-icons-png.flaticon.com/512/42/42901.png?w=360">
        </section>
        <section>
            <h1>Oops!</h1>
            <p class="section-subtittle">La página que estas buscando no existe.</p>
            <p>Error code: 404</p>
            <a href="/">
                <button>Volver al inicio</button>
            </a>
        </section>
    </main>
    <script src="/js/nav-bar-tabs.js"></script>
</body>
</html>