<header class="header-container">
	<div class="header-bounds">
		<div class="nav-search">
			<a href="/">
				<div class="shoocity-logo">
					<h1 class="logo-title">Shoocity</h1>
					<h2 class="logo-slogan">Inspiration Works</h2>
				</div>
			</a>
			<form class="search-bar" action="#" method="POST">
				<input
					class="search-input"
					type="search"
					name="search"
					id="search"
					placeholder="Buscar productos..."
				/>
				<button class="search-btn">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
			<div class="menu" id="ham-menu">
				<div class="hamburger-btn-menu">
					<div class="ham-inner"></div>
				</div>
			</div>
			<aside class="aside-menu">
				<div class="aside-bounds">
					<div class="profile-div">
						<img
							src="https://i.pinimg.com/564x/4c/95/d4/4c95d42d0c5737bfcde088b81436af9b.jpg"
							alt=""
							class="profile-pic"
						/>
					</div>
					<ul class="nav-menu-list">
						<li>
							<i class="fa-solid fa-user"></i>
							<a href="">Cuenta</a>
						</li>
						<li>
							<i class="fa-solid fa-bag-shopping"></i>
							<a href="/shopping-cart">Mis compras</a>
						</li>
						<li>
							<i class="fa-solid fa-heart"></i>
							<a href="">Favoritos</a>
						</li>
					</ul>
					<ul class="nav-menu-list">
						<li>
							<i class="fa-solid fa-shop"></i>
							<a href="/all-products">Tienda</a>
						</li>
						<li>
							<i class="fa-solid fa-shoe-prints"></i>
							<a href="">Marcas</a>
						</li>
						<li>
							<i class="fa-solid fa-tag"></i>
							<a href="">Ofertas</a>
						</li>
						<li>
							<i class="fa-solid fa-user-astronaut"></i>
							<a href="">Nosotros</a>
						</li>
					</ul>
					<p>Cerrar sesión</p>
				</div>
			</aside>
		</div>
		<nav class="nav-menu">
			<div class="dropdown">
				<div class="language" id="drop-btn">
					<p data-dropdown-button>Idioma</p>
					<i class="fa-solid fa-angle-down"></i>
				</div>
				<div class="dropdown-menu">
					<ul class="languages-list">
						<li>
							<img src="/images/flags/es.svg" alt="" srcset="" />
							<button id="spanish">Español</button>
						</li>
						<li>
							<img src="/images/flags/gb.svg" alt="" srcset="" />
							<button id="english">Inglés</button>
						</li>
					</ul>
				</div>
			</div>
			<ul class="nav-menu-list">
				<li><a href="/all-products">Tienda</a></li>
				<li><a href="">Categorias</a></li>
				<li><a href="">Marcas</a></li>
				<li><a href="">Nosotros</a></li>
			</ul>
			<ul class="nav-menu-list">
				<li>
					<a href="/shopping-cart">Mis compras</a>
				</li>
				<li>
					<a href="">Favoritos</a>
				</li>
				<li class="dropdown">
					<div class="user" id="drop-btn">
						<p data-dropdown-button>Cuenta</p>
						<i class="fa-solid fa-angle-down"></i>
					</div>
					<div class="dropdown-menu user-menu">
						<div class="drop-menu-header">
							<p>Mi cuenta</p>
						</div>
						<div class="profile-div">
							<img
								src="https://i.pinimg.com/564x/4c/95/d4/4c95d42d0c5737bfcde088b81436af9b.jpg"
								alt=""
								class="profile-pic"
							/>
							<p>Hola Messi!</p>
						</div>
						<ul class="user-list">
							<li>
								<button id="login-link">Iniciar Sesión</button>
							</li>
							<li>
								<button id="register-link">Registrarme</button>
							</li>
							<li>
								<button id="logout-link">Cerrar Sesion</button>
							</li>
						</ul>
					</div>
				</li>
				<div class="bell-trollie-container">
					<div class="dropdown">
						<div class="notification" id="drop-btn">
							<i class="fa-solid fa-bell" data-dropdown-button></i>
						</div>
						<div class="dropdown-menu notification-menu">
							<div class="drop-menu-header">
								<p>Notificaciones</p>
							</div>
							<ul class="notification-list">
								<a href="">
									<li>
										<img src="/images/flags/es.svg" alt="" srcset="" />
										<p>
											Lorem ipsum dolor, sit amet consectetur adipisicing elit.
											Voluptatibus, error?
										</p>
									</li>
								</a>
								<a href="">
									<li>
										<img src="/images/flags/gb.svg" alt="" srcset="" />
										<p>
											Lorem, ipsum dolor sit amet consectetur adipisicing elit.
											Provident, maxime?
										</p>
									</li>
								</a>
							</ul>
						</div>
					</div>
					<a href="/shopping-cart">
						<i class="fa-solid fa-cart-shopping"></i>
					</a>
				</div>
			</ul>
		</nav>
	</div>
</header>
