<section class="products-carrousel">
    <h1 class="section-title">TRENDING</h1>
    <div class="carrousel-container">
        <div class="controls" id="prod-prev-btn">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="content-container">
            <article class="product">
                <div class="prod-header">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 2</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 3</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 4</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 5</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 6</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 7</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 8</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 9</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <article class="product">
                <div class="prod-header">
                    <i class="fa-regular fa-cart-circle-plus"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="prod-picture">
                    <img src="https://image.goat.com/transform/v1/attachments/product_template_pictures/images/052/002/689/original/1011B017_401.png.png?action=crop&width=2000" alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category">Track & Field</h3>
                    <h2 class="prod-title">Asics Evo Ride 10</h2>
                    <div class="prod-price-desc">
                        <p>ARS $34.999</p>
                        <p>5% OFF</p>
                    </div>
                </div>
                <a href="/product-details">
                    <button class="prod-button">VER</button>
                </a>
            </article>
        </div>
        <div class="controls" id="prod-next-btn">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</section>