<!DOCTYPE html>
<html lang="en">
        <head>
        <%- include('../partials/head') %> 
        <link rel="stylesheet" href="/css/nav-bar.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/my-purchases.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <title>Shopping cart</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('../partials/nav-bar') %>
        <main>
            <div class="main-container">
                <h1 class="purchases-title">Mis compras</h1>

                <div class="header-menu">
                    <p>50 productos</p>
                </div>

                <ul>
                    <% for(let i=0; i< shoppingCart.products.length; i++) { %>
                        <li>
                            <%= shoppingCart.products[i] %> 
                        </li>
                    <% } %>
                </ul>

                <% if (shoppingCart) { %>
                    <% for(let i=0; i< shoppingCart.products.length; i++) { %>
                    <div class="articles-container">
                        <div class="item">
                            <div class="purchase-number">
                                <p><span>Orden #</span>67231415</p>
                                <p class="item-status">Estado: <span>Finalizado</span> </p>
                            </div>
                            <div class="item-body">
                                <div class="picture">
                                    <!-- /images/products/product-image1664255778798.webp -->
                                    <img src="/images/products/product-image1664255778798.webp" alt=""> 
                                </div>
                                <div class="details">
                                    <div class="details-body">
                                        <p class="item-category">
                                            Track & Field
                                        </p>
                                        <div class="brand-logo-wrapper">
                                            <img src="/images/products/logos/asics-logo.png" alt="">
                                        </div>
                                        <h2 class="item-name">Evo Ride 2</h2>
                                        <p class="item-brief-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, cupiditate?</p>
                                        <p class="item-price">$1000</p>
                                    </div>
                                    <div class="action-btns">
                                        <form action="/purchase" method="POST">
                                            <button type="submit" class="purchase-btn">
                                                <p class="item-button">Ver Producto</p>
                                            </button>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% } %>


                








            </div>


        </main>
        <!-- Footer -->
        <%- include('../partials/footer') %>

		<script src="/js/hamburger.js"></script>
    </body>
</html>
