<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/register-form.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Register</title>
</head>
<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main class="main-register">
        <div class="register-wrapper">
            <h1 class="form-title">Registrate</h1>
            <h4 class="form-subtitle ">Sé parte de Shoocity</h4>
            <form action="#" method="POST">
                <div class="register-form-left">
                    <h3 class="register-label">Datos</h3>
                    <div class="form-group first-last-name">
                        <label for="name">Nombre y apellido</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="form-group user">
                        <label for="user">Usuario</label>
                        <input type="text" name="user" id="user" required>
                    </div>
                    <div class="form-group email">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="form-group domicilio">
                        <label for="address">Domicilio</label>
                        <input type="text" name="address" id="address" required>
                    </div>
                    <h3 class="register-label">Fecha de nacimiento</h3>
                    <div class="form-group">
                        <input type="date" id="birthday" name="birthday" required>
                    </div>
                </div>
                <div class="register-form-right">
                    <h3 class="register-label">Perfil de usuario</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="buySell" name="buySell" value="bubuySellyer" checked>
                            <label for="buySell">Comprador</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="buySell" name="buySell" value="buySell">
                            <label for="buySell">Vendedor</label>
                        </div>
                    </div>
                    <h3 class="register-label">Genero</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="gender" checked>
                            <label for="gender">Hombre</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="gender">
                            <label for="gender">Mujer</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="gender">
                            <label for="gender">Otro</label>
                        </div>
                    </div>
                    <h3 class="register-label">País de nacimiento</h3>
                    <select class="country-combobox" name="country" id="country">
                        <option value="arg">Argentina</option>
                        <option value="brz">Brasil</option>
                        <option value="chl">Chile</option>
                        <option value="per">Peru</option>
                        <option value="blv">Bolivia</option>
                        <option value="uru">Uruguay</option>
                    </select>
                    <h3 class="register-label">Intereses</h3>
                    <div class="checkbox-list">
                        <div class="checkbox-group">
                            <input type="checkbox" id="sports" name="sports" value="sports">
                            <label for="sports">Deportes</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="fashion" name="fashion" value="fashion">
                            <label for="fashion">Moda</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="vintage" name="vintage" value="vintage">
                            <label for="vintage">Vintage</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="health" name="health" value="health">
                            <label for="health">Vida sana</label>
                        </div>
                    </div>
                </div>
                <div class="checkbox-list mail-spam-checkbox">
                    <div class="checkbox-group">
                        <input type="checkbox" id="mailspam" name="mailspam" value="mailspam">
                        <label for="mailspam" class="mail-spam">Recibir correos electrónicos de Shoocity con actualizaciones de productos, ofertas y otros beneficios como Miembro!</label>
                    </div>
                </div>
                <div class="send-container">
                    <div class="error-message-container">
                        <label class="error-msg">Mensaje de error!</label>
                    </div>
                    <button type="submit" class="submit-btn">Crear cuenta</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Scripts -->
    <script src="/js/hamburger.js"></script>
    <script src="/js/nav-bar-tabs.js"></script>
</body>
</html>